<div class="container" id="show-container">
  <div class="col-sm-12">
    <h4 class="row text-xs-center">
      Edit
    </h4>
 
    <%= render 'form' %>
 
    <%= link_to 'Article List', articles_path %>
  </div>
</div>
