<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container-fluid">
    <div class="nav navbar-nav">  
      <%= link_to("Name of Blog", root_path, class: "navbar-brand") %>   
      <%= link_to("Articles", articles_path, class: "nav-item nav-link") %>
      <%= link_to("Projects", "#", class: "nav-item nav-link") %>
      <%= link_to("About", "#", class: "nav-item nav-link") %>
    </div>
  </div>
</nav>