<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <%= link_to("Name of Blog", root_path, class: "nav navbar-brand") %>
      <!-- <img alt="Brand" src="..."> -->
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to("Articles", articles_path) %></li>
        <li><%= link_to("Create Article", new_article_path) %></li>
        <li><%= link_to "About" %></li>
      </ul>
        

    
    </div>
  </div>
</nav>